language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

script:
  - phpunit --configuration tests/phpunit.xml
  - php bin/vobject -h

before_script: composer install
