language: php
php:
  - 5.5
  - 5.6
  - 7
  - hhvm

sudo: false

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm

script:
  - phpunit --configuration tests/phpunit.xml
  - ./bin/sabre-cs-fixer fix . --dry-run --diff

before_script:
  - phpenv config-rm xdebug.ini
  - composer install
