<?xml version="1.0"?>
<phpunit colors="true" bootstrap="bootstrap.php" beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true" enforceTimeLimit="true" cacheDirectory=".phpunit.cache">
  <php>
    <ini name="error_reporting" value="E_ALL"/>
  </php>
  <testsuites>
    <testsuite name="Sabre\VObject">
      <directory>.</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">../lib/</directory>
    </include>
  </source>
</phpunit>
