<phpunit
  colors="true"
  bootstrap="bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  failOnRisky="true"
  failOnWarning="true"
  enforceTimeLimit="true"
  >
  <php>
    <ini name="error_reporting" value="E_ALL"/>
  </php>
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">../lib/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Sabre\VObject">
      <directory>.</directory>
    </testsuite>
  </testsuites>
</phpunit>
